<div class="background"></div>

<div class="frontground">

  <div class="header-container">

    <div class="row middle-xs">
      <div class="col-xs-auto">
        <div class="box">
          <a routerLink="/home">
            <img class="header__logo" src="../../../../assets/img/logo_transparente.png" alt="logotipo">
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- page not found -->
  <div class="page-not-found-container">
    <div class="row middle-xs">
      <div class="col-xs-12 center-xs">
        <div class="box">
          <img src="../../../../assets/img/404.png" alt="error 404">
          <h1>¿Esta página ya no existe? ¿Este producto fue retirado? Probablemente.</h1>
          <h3>Vamos a <a routerLink="/home">Inicio</a> e intentemos de nuevo.</h3>
        </div>
      </div>
    </div>
  </div>
</div>