<div class="background"></div>

<div class="frontground">
  <header></header>
  <!-- home -->
  <div class="home-container">
    <div class="row middle-xs">
      <div class="col-xs-12 center-xs col-md-6 start-md" style="padding: 0;">
        <p class="home__description">
          <span class="highlighted-text">Productos</span>
          de 
          <span class="highlighted-text">limpieza</span>
          y artículos de necesidad básica a 
          <span class="highlighted-text">muy buen precio</span>.
        </p>
      </div>
    </div>
  </div>
  <footer></footer>
</div>