<div class="row">

  <div class="col-xs-11">
    <div class="box">
      <button (click)="showProductDetails()">
        <div class="row">
  
          <div class="col-xs-4 center-xs" style="padding: 0;">
            <div class="box">
              <img [src]="product.img" class="product__img" alt="imagen del producto">
            </div>
          </div>
        
          <div class="col-xs-8" style="padding: 0; padding-left: 10px;">
            <div class="box">
              <h1 class="product__title">{{ product.title }}</h1>
              <p class="product__price">
                <span>{{ product.price | currency:'$'}}</span> x {{ units }}
              </p>
              <p class="product__quantity">
                Total: <span>{{ units * product.price | currency:'$' }}</span>
              </p>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="col-xs-1 end-xs" style="padding: 0;">
    <div class="box">
      <a [routerLink]="['/cart', product.id]">
        <img 
          src="../../../../assets/img/borrar.png" 
          class="product__delete" title="Descartar" 
          alt="icono para borrar">
      </a>
    </div>
  </div>
</div>


